In [1]:
%matplotlib widget

import pandas as pd
table = pd.read_csv('WAVE0002.csv',skiprows = 14,delimiter=",")

In [2]:
table

,Time,CH-1[C],CH-2[C],CH-3[C],CH-4[C],CH-5[C],CH-6[C],P-1[c],P-2[c],P-3[c],P-4[c],Event,Unnamed: 12
0,0.0,25.5,25.3,25.3,25.2,25.1,25.1,0.0,0.0,0.0,0.0,0,NaN
1,0.5,25.5,25.4,25.3,25.2,25.2,25.1,0.0,0.0,0.0,0.0,0,NaN
2,1.0,25.5,25.4,25.3,25.3,25.2,25.1,0.0,0.0,0.0,0.0,0,NaN
3,1.5,25.5,25.4,25.3,25.3,25.2,25.1,0.0,0.0,0.0,0.0,0,NaN
4,2.0,25.5,25.4,25.3,25.3,25.2,25.1,0.0,0.0,0.0,0.0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
164151,82075.5,25.3,24.9,25.2,24.8,24.9,24.9,0.0,0.0,0.0,0.0,0,NaN
164152,82076.0,25.3,24.9,25.2,24.7,24.9,24.9,0.0,0.0,0.0,0.0,0,NaN
164153,82076.5,25.3,24.9,25.2,24.8,24.9,24.9,0.0,0.0,0.0,0.0,0,NaN
164154,82077.0,25.3,24.9,25.2,24.7,24.9,24.9,0.0,0.0,0.0,0.0,0,NaN
164155,82077.5,25.3,24.9,25.2,24.8,24.9,24.9,0.0,0.0,0.0,0.0,0,NaN

In [3]:
labels = ['left next to pos 3','right between pos 38 and 39','left between pos 5 and 6', 'right next to pos 37','bottom right','bottom left']

In [7]:
rolling_mean = 1000
for i in range(1,7):
    table[labels[i-1]] =table[f"CH-{i}[C]"].rolling(rolling_mean).mean()

In [8]:
table['Time_h']=table['Time']/3600

In [9]:
table.plot("Time_h",[labels[i-1] for i in range(1,7)],alpha= 0.2,ylim=(24,26))

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦